<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysVipTemplateMapper">

    <resultMap type="SysVipTemplate" id="SysVipTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="hotTitle"    column="hot_title"    />
        <result property="originPrice"    column="origin_price"    />
        <result property="realPrice"    column="real_price"    />
        <result property="duration"    column="duration"    />
        <result property="durationUnit"    column="duration_unit"    />
        <result property="status"    column="status"    />
        <result property="showIndex"    column="show_index"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysVipTemplateVo">
        select template_id, template_name, hot_title, origin_price, real_price, duration, duration_unit, status, show_index, create_by, create_time, update_by, update_time, remark from sys_vip_template
    </sql>

    <select id="selectSysVipTemplateList" parameterType="SysVipTemplate" resultMap="SysVipTemplateResult">
        <include refid="selectSysVipTemplateVo"/>
        <where>
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="hotTitle != null  and hotTitle != ''"> and hot_title = #{hotTitle}</if>
            <if test="originPrice != null  and originPrice != ''"> and origin_price = #{originPrice}</if>
            <if test="realPrice != null  and realPrice != ''"> and real_price = #{realPrice}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="durationUnit != null  and durationUnit != ''"> and duration_unit = #{durationUnit}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="showIndex != null "> and show_index = #{showIndex}</if>
        </where>
        order by show_index asc
    </select>

    <select id="selectSysVipTemplateByTemplateId" parameterType="String" resultMap="SysVipTemplateResult">
        <include refid="selectSysVipTemplateVo"/>
        where template_id = #{templateId}
    </select>

    <insert id="insertSysVipTemplate" parameterType="SysVipTemplate">
        insert into sys_vip_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="templateName != null">template_name,</if>
            <if test="hotTitle != null">hot_title,</if>
            <if test="originPrice != null">origin_price,</if>
            <if test="realPrice != null">real_price,</if>
            <if test="duration != null">duration,</if>
            <if test="durationUnit != null">duration_unit,</if>
            <if test="status != null">status,</if>
            <if test="showIndex != null">show_index,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="hotTitle != null">#{hotTitle},</if>
            <if test="originPrice != null">#{originPrice},</if>
            <if test="realPrice != null">#{realPrice},</if>
            <if test="duration != null">#{duration},</if>
            <if test="durationUnit != null">#{durationUnit},</if>
            <if test="status != null">#{status},</if>
            <if test="showIndex != null">#{showIndex},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysVipTemplate" parameterType="SysVipTemplate">
        update sys_vip_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="hotTitle != null">hot_title = #{hotTitle},</if>
            <if test="originPrice != null">origin_price = #{originPrice},</if>
            <if test="realPrice != null">real_price = #{realPrice},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="durationUnit != null">duration_unit = #{durationUnit},</if>
            <if test="status != null">status = #{status},</if>
            <if test="showIndex != null">show_index = #{showIndex},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deleteSysVipTemplateByTemplateId" parameterType="String">
        delete from sys_vip_template where template_id = #{templateId}
    </delete>

    <delete id="deleteSysVipTemplateByTemplateIds" parameterType="String">
        delete from sys_vip_template where template_id in
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>
</mapper>